{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Feedback Form</title>
    <meta name="description" content="Fast Reference Cheat Sheet">
    <meta name="keywords" content="fast reference, cheat sheet, coding reference">
    <meta name="author" content="Neel Moradiya">
    <meta name="language" content="English">
    <meta name="distribution" content="global">
    <meta name="og:title" content="Fast Reference Cheat Sheet">
    <meta name="og:description" content="Fast Reference Cheat Sheet">
    <link rel="icon" type="image/x-icon" href="{% static 'logo.png' %}">
    <link rel="stylesheet" href="{% static 'feedback_form.css' %}">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
    <header class="text-white">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav class="navbar" aria-label="Site Navigation">
                        <a href="/" class="navbar-brand text-white">
                            <img src="{% static 'logo.png' %}" alt="FastRef.ME Logo" loading="lazy">
                            <span class="fw-bold main-title">FastRef.ME</span>
                        </a>
                        <!-- <button class="btn text-white" aria-label="Search">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                                <path
                                    d="M416 208c0 45.9-14.9 88.3-40 122.7L502.6 457.4c12.5 12.5 12.5 32.8 0 45.3s-32.8 12.5-45.3 0L330.7 376c-34.4 25.2-76.8 40-122.7 40C93.1 416 0 322.9 0 208S93.1 0 208 0S416 93.1 416 208zM208 352a144 144 0 1 0 0-288 144 144 0 1 0 0 288z" />
                            </svg>&nbsp;
                            Search for cheetsheet&nbsp;
                            <kbd>Ctrl + K</kbd>
                        </button> -->
                    </nav>
                </div>
            </div>
        </div>
    </header>

    <main>
        <section class="bg-black">
            <div class="container pt-5" id="main">
                <div class="row mx-5">
                    <div class="col-12">
                        <h2 class="mb-4">Feedback Form</h2>
                        <form method="post" action="insert_data">
                            {% csrf_token %}

                            <div class="mb-3">
                                <label for="name" class="form-label">Your Name</label>
                                <input type="text" class="form-control" id="name" name="name" placeholder="John Doe"
                                    required>
                            </div>

                            <div class="mb-3">
                                <label for="email" class="form-label">Email address</label>
                                <input type="email" class="form-control" id="email" name="email"
                                    placeholder="name@example.com" required>
                            </div>

                            <div class="mb-3">
                                <label for="feedback" class="form-label">Feedback</label>
                                <textarea class="form-control" id="feedback" name="feedback" rows="4"
                                    placeholder="Your feedback" required></textarea>
                            </div>

                            <button type="submit" class="btn btn-primary mb-5">Submit Feedback</button>
                        </form>
                    </div>
                </div>
            </div>
        </section>
    </main>

    <footer class="text-white py">
        <div class="container-fluid">
            <div class="row text-center">
                <div class="col-12">
                    <p>&copy; {% now "Y" %} FastRef.ME, All rights reserved.
                </div>
            </div>
        </div>
    </footer>

    <!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function () {
            $(document).ready(function () {
                // Attach a submit handler to the form
                $("form").submit(function (event) {
                    // Prevent the default form submission
                    event.preventDefault();

                    // Perform an AJAX request to submit the form data
                    $.ajax({
                        type: "POST",
                        url: "insert_data",
                        data: $(this).serialize(), // Serialize the form data
                        success: function (response) {
                            alert("Feedback submitted successfully!");
                        },
                        error: function (error) {
                            // Handle errors if the submission fails
                            console.error("Error submitting feedback:", error);
                        }
                    });
                });
            });
        });
    </script>
</body>

</html>